/* ASW-CYPA Unibo 2016, css.
Filippo Alberto Brandolini
ASW2016-Group-08
Brandolini F.A., Dradi G., Rossi M. */

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #be3418;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border-color:#353535;
}

/* testi cliccati nella nav bar*/
.navbar-default .navbar-nav > .open > a {
  color:#ffffff;
}
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #ffffff;
  background-color: #e7e7e7;
}
/* testi nella nav bar*/
.navbar-default .navbar-nav > li > a {
  color: #fafafa;
}
/* testi nei submenu della navbar */
.dropdown-menu > li > a {
  color: #fafafa;
}

@media only screen and (max-width:767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fafafa;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #be3418;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
  background-image: -webkit-linear-gradient(top, #353535 0, #353535 100%);
  background-image: -o-linear-gradient(top, #353535 0, #353535 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#353535));
  background-image: linear-gradient(to bottom, #353535 0, #353535 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#353535', endColorstr='#363535', GradientType=0);
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #be3418;
  background-image: none;
}
.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  margin-left: -6px;
}

.form-control {
  width: 98%;
}

.form-control:focus {
  border-color: #be3418;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 52, 24, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(190, 52, 24, 0.6);
}

/* colore testi quando voci di submenu della navbar when they are focused */
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #353535;
}

.btn {
  vertical-align: inherit;
  /*  padding:inherit;*/
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: inherit;
}

@media only screen and (min-width: 768px){
  .navbar-brand-mobile{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  .navbar-brand {
    margin-left: -15px;
    display:none;
  }

  .navbar-brand-mobile{
    top: 15px;
  }
}

.dropdown-menu {
  background-clip: inherit;
  -webkit-background-clip: inherit;
}
element {
  background-color: #353535;
}
/* bordo dell'icona menu in visualizzazione smartphone */
.navbar-default .navbar-toggle {
  border-color: inherit;
}

/* tablet and smartphone portrait mode START */
@media only screen and (max-width: 767px) {
  
  .arrowbounce {
    display: none;
  }

  .arrowbounce-up{
    display: none;
}

  img.displayed{
    max-width: 70%;
    /*visibility: hidden;*/
  }

  img.displayed-grey{
    max-width: 85%;
  }

  img.socialicon{
    display: none;
  }

  img.socialicon-grey-mobile{
    max-width: 36px;
    margin-right: 32px;
    margin-bottom: 32px;
  }

  img.mailicon{
    /*opacity:1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);*/
    max-width:16px;
    /*margin-right:4px;*/
    margin-bottom:2px;
  }
}

@media only screen and (min-width: 768px){
   img.socialicon-grey-mobile{
    display: none;
  }
}

@media only screen and (min-width: 768px) and (min-height: 528px){
  img.displayed{
    max-width: 40%;
    z-index: 1;
  }

  img.displayed-grey{
    max-width: 85%;
    visibility: hidden;
  }

  img.socialicon{
    opacity:0.1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    max-width:48px;
    margin-right: 32px;
  }

  img.socialicon:hover{
    opacity:1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    max-width:48px;
    margin-right: 32px;
  }

  img.mailicon{
    /*opacity:0.1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);*/
    max-width:16px;
   /* margin-right:4px;*/
    margin-bottom:2px;
  }

  img.mailicon:hover{
    /*opacity:1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);*/
    max-width:16px;
    /*margin-right:4px;*/
    margin-bottom:2px;
  }
}

/* tablet and smartphone portrait mode END */
}

/* full screen sections START */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #fafafa;
  height: 100vh;
}

section:nth-of-type(2n) {
  background-color: #be3418;
}
.intro {
  height: 100vh;
  /* GRADIENT BACKGROUND */
  background: linear-gradient(28deg, #fafafa, #f7f7f7, #fafafa, #f5fffd);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
@keyframes AnimationName { 
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}
/* END GRADIENT BACKGROUND */

.content {
  display: table-cell;
  vertical-align: middle;
}
h1 {
  font-size: 3em;
  display: block;
  color: #353535;
  font-weight: 300;
}
p {
  font-size: 1.5em;
  font-weight: 500;
  color: #C3CAD9;
}
a {
  color: #373B44;
  position: relative;
}
footer {
  padding-bottom: 5px;
  text-align: center;
  background-color: #fafafa;
}

footer a {
  color: #353535;
  font-weight: 500;
  text-decoration: none;
}
footer a:hover {
  color: #353535;
  font-weight: 500;
  text-decoration: none;
}

footer p {
  color: #C3CAD9;
  font-size: 1em;
}
/* full screen sections END */
body {
  font-family: 'KFont'; /* change to inherit to switch back to previous */
}

/* -- */

/* Intro Section text changes position based on device resolution */

@media only screen and (min-width: 768px) and (min-height: 450px) {
  p.introtitle {
    position: absolute;
    left:50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index:99998;
    top: 25%;
  }
}

@media only screen and (max-width: 767px) and (min-height: 450px){
  p.introtitle {
    font-size: 175%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top:50%;
    left: 50%;
    max-width: 90%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index:99998;
  }
}

@media only screen and (max-height: 450px){
  p.introtitle {
    /*visibility: hidden;*/
  }
}

/* ... */

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 17%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index:10;
}

img.displayed-grey {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 24%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index:10;
}
  
img.backgroundx {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width:100%;
  /*height:100%;*/
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index:9;
}

/* arrow to scroll down */

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
body {
  background: #fafafa;
  color: #353535;
}

@-moz-keyframes bounceup {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@-webkit-keyframes bounceup {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}
@keyframes bounceup {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  60% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

.arrowbounce {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 99998;
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

.arrowbounce-up {
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow-up.png);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 99998;
  -moz-animation: bounceup 3s infinite;
  -webkit-animation: bounceup 3s infinite;
  animation: bounceup 3s infinite;
}

.hiddenarrow {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99998;
  visibility: hidden;
}

.hiddenarrow-up {
  position: fixed;
  top: 60px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow-up.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99998;
  visibility: hidden;
} 
/* end arrow to scroll down*/

.table-responsive {
  border: none;
}

/* test only mobile */

@media only screen and (max-width: 767px){
  img.displayed-grey{
    display: none;
  }

  p.introtitle{
    display: none;
  }
}

@media only screen and (max-width: 767px) and (max-height: 619px){
  img.displayed-grey{
    top:32%;
    max-width: 85%;
  }

  img.displayed{
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) and (max-height: 450px){
  img.displayed-grey{
    top:45%;
    max-width: 85%;
  }
}

@media only screen and (max-width: 767px) and (max-height: 350px){
  img.displayed-grey{
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-height: 700px){
  p.introtitle{
    visibility: hidden;
  }

  img.displayed{
    top:27%;
  }
}

@media only screen and (min-width: 768px) and (max-height: 650px){
  p.introtitle{
    visibility: hidden;
  }

  img.displayed{
    visibility: hidden;
  }

  img.displayed-grey{
    visibility: hidden;
  }
}

@media only screen and (min-width:768px) and (max-width: 1000px) and (min-height: 400px){
  p.introtitle{
/*    top:25%;*/
    display: none;
  }
}

@media only screen and (min-width:560px) and (max-width:768px) and (max-height:511px){
  p.introtitle{
    visibility: hidden;
  }
}

@media only screen and (max-width:450px){
  .table-responsive{
    width:100%;
  }
}

@media only screen and (min-width:768px){
  .table-responsive{
    /*position: absolute;
    top:60%;
    width:85%;*/
  }
}

@media only screen and (max-width: 767px){
  .tdesktop{
    display: none;
  }
}

@media only screen and (min-width: 768px){
  .tmobile{
    display: none;
  }
}

/* to avoid "android's chrome navbar" hiding resizing problems when scrolling */

@media only screen and (max-width: 767px){
  .s1, .s2, .s3, .s4, .s5, .s6 {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

* { box-sizing: border-box }

/* end android's chrome navbar handling */

.table > tbody > tr > td {
     /*vertical-align: middle;*/
}

@media only screen and (min-width: 768px){
  li.onlymobilemenu{
    display: none;
  }
}

@media only screen and (max-width: 767px){
  li.dropdown{
    display: none;
  }

  li.onlydesktopmenu{
    display: none;
  }
}

@media only screen and (min-width: 768px){
  a.dropdown-toggle{
    display: inherit;
  }
}

/* font */
/* eot IE9+ Compat Modes, eot-iefix IE6-IE8, woff Modern Browsers, ttf Safari Android iOS, svg Legacy iOS */

@font-face {
  font-family: 'KFont';
  src: url('../fonts/kfont-reg.eot');
  src: url('../fonts/kfont-reg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kfont-reg.woff') format('woff'), 
       url('../fonts/kfont-reg.ttf') format('truetype'), 
       url('../fonts/kfont-reg.svg') format('svg');
}

/* force svg use in android's chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'KFont';
    src: url('../fonts/kfont-reg.svg') format('svg');
  }
}

/* end font */

.navbar-default{
  border: none;
/*  border-color: #353535;
*/}

/*fix mobile table 100% Width*/
@media screen and (max-width: 767px){
  .table-responsive>.table>tbody>tr>td,
  .table-responsive>.table>tbody>tr>th,
  .table-responsive>.table>tfoot>tr>td,
  .table-responsive>.table>tfoot>tr>th,
  .table-responsive>.table>thead>tr>td,
  .table-responsive>.table>thead>tr>th {
    white-space: inherit;
  }
}