<!-- ASW-CYPA Unibo 2016.
Filippo Alberto Brandolini
ASW2016-Group-08:
Brandolini F.A., Dradi G., Rossi M. -->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#353535"/>
    <meta name="msapplication-navbutton-color" content="#353535">
    <link rel="icon" sizes="192x192" href="images/favicon192x.png">
    <title>CYPA Unibo</title>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/scroll-startstop.events.jquery.js" type="text/javascript"></script>
    <script src="javascripts/is.js" type="text/javascript"></script>
    <script src="javascripts/jquery.cycle.all.js"></script>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="Controller">
<nav class="navbar navbar-default navbar-fixed-top"
     style="background: #353535 none;z-index:99999">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><img src="images/cypa-menu-800-wht.png"
                                         style="max-height:35px; margin-top:-8px"/></a>
            <a class="navbar-brand-mobile"><img src="images/cypa-menu-800-wht.png"
                                                style="max-height:35px; margin-top:-8px"/></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="onlydesktopmenu"><a href="#s1">Professors</a></li>
                <li class="onlydesktopmenu"><a href="#s2">ASW</a></li>
                <li class="onlydesktopmenu"><a href="#s6">Social</a></li>
                <!-- <li class="onlydesktopmenu"><a href="#s2">About Us</a></li> -->
                <li class="onlydesktopmenu"><a href="#s7">Contact Us</a></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ricerca <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="background-color:#353535; background-image: none;">
                    <li>
                      <input type="text" class="form-control" ng-model="searchprof">
                    </li>
                  </ul>
                </li>

                <li class="onlymobilemenu"><a href="#s2" data-toggle="collapse"
                                              data-target=".navbar-collapse.in">ASW</a></li>
                <li class="onlymobilemenu"><a href="#s6" data-toggle="collapse"
                                              data-target=".navbar-collapse.in">Social</a></li>
                <!-- <li class="onlymobilemenu"><a href="#s3" data-toggle="collapse" data-target=".navbar-collapse.in">About Us</a></li> -->
                <li class="onlymobilemenu"><a href="#s7" data-toggle="collapse" data-target=".navbar-collapse.in">Contact
                    Us</a></li>
                <li class="onlymobilemenu"><input type="text" id="professor" class="form-control"
                                           placeholder="Cerca professore" ng-model="searchprof" data-target=".navbar-collapse.in"></li>    

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="arrowbounce" id="arrowbounce"></div>
<div class="hiddenarrow-up" id="hiddenarrow-up"></div>

<section class="intro" id="s1">
    <div class="content" id="content-intro">
        <img class="displayed" src="images/cypa-menu-800-bdx.png">
        <img class="displayed-grey" id="displayed-grey" src="images/cypa-grey-768.png">
        <div style="text-align: center;">
            <p class="introtitle" id="introtitle">Check Your Professor Availability, Unibo Cesena</p>
        </div>
        <h1>Professors Availability</h1>
        <!-- <p style="color:#353535">Check if your Professor is available!</p> -->
        <div class="table-responsive">
            <table class="table table-striped" id="proftable">
                <thead>
                <tr>
                    <th>Professor</th>
                    <th>Location</th>
                    <th class="respcolumn">Registration Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="prof in availableProfessors | filter : searchprof">
                    <td>{{prof.guestProf}}</td>
                    <td>{{prof.room}}</td>
                    <td class="respcolumn">{{prof.timestamp}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="s2">
    <div class="content">
        <h1 style="color:#ffffff">ASW</h1>
        <p style="color:#ffffff"><b>ASW (Applicazioni e Servizi Web)</b> is an academic class in Engineering and
            Computer Science at the University of Bologna, Campus of Cesena, Italy. The course is held by Professors
            Catia Prandi and Silvia Mirri.</p>
    </div>
</section>

<section id="s6" style="background-color:#fafafa">
    <div class="content">
        <h1>Social</h1>
        <p style="color:#353535">Connect with <b>CYPA Unibo</b> with your favourite social network.</p>
        <a href="https://www.facebook.com/cypaunibo" style="text-decoration:none"><img src="images/fb512.png" class="socialicon"/></a>
        <a href="https://www.facebook.com/cypaunibo" style="text-decoration:none"><img src="images/fb-grey-96.png"
                                                                                       class="socialicon-grey-mobile"/></a>
        <a href="https://www.twitter.com/cypaunibo" style="text-decoration:none"><img src="images/twit512.png"
                                                                                      class="socialicon"/></a>
        <a href="https://www.twitter.com/cypaunibo" style="text-decoration:none"><img src="images/twit-grey-96.png"
                                                                                      class="socialicon-grey-mobile"/></a>
    </div>
</section>

<footer id="s7">
    <a href="mailto:cypaunibo@gmail.com">Contact us <img src="images/mail256.png" class="mailicon"/></a>
    <a id="signature" style="color:#C3CAD9">CYPA Unibo &copy; </a>
</footer>

<script>
    if (is.not.mobile() && is.not.firefox()) {
        $(function () {

            var arrowBounce =  $('#arrowbounce');
            arrowBounce.fadeIn('slow');
            $('#arrowbounce-up').fadeIn('slow');
            arrowBounce.click(
                    function (e) {
                        // $('html, body').animate({scrollTop: '+='+$elem.height()}, 1400);
                        /* var container = $('html');
                         var scrollTo = $('#s3');
                         $('html,body').animate({scrollTop: scrollTo.offset().top - container.offset().top + container.scrollTop()}, 1400);*/
                        var currentSection = (function () {
                            var element, elements = [];
                            var old_visibility = [];
                            while (true) {
                                element = document.elementFromPoint(event.clientX, event.clientY); //e.pageX, e.pageY
                                if (!element || element === document.documentElement) {
                                    break;
                                }
                                elements.push(element);
                                old_visibility.push(element.style.visibility);
                                element.style.visibility = 'hidden';
                            }
                            for (var k = 0; k < elements.length; k++) {
                                elements[k].style.visibility = old_visibility[k];
                            }
                            elements.reverse();
                            return elements[0];
                        })();
                        console.log(currentSection.id);
                        if (currentSection == document.body) {
                            var scrollToElem = $('#s2');
                        } else if (currentSection.id == "s2") {
                            var scrollToElem = $('#s6');
                            // } else if (currentSection.id == "s3"){
                            //   var scrollToElem = $('#s4');
                            // } else if (currentSection.id == "s4"){
                            //   var scrollToElem = $('#s5');
                            // } else if (currentSection.id == "s5"){
                            //   var scrollToElem = $('#s6');
                        } else if (currentSection.id == "s6") {
                            var scrollToElem = $('#s7');
                        } else {
                            //
                        }
                        if (currentSection.id != "s6") {
                            $('html,body').animate({scrollTop: scrollToElem.offset().top}, 1400);
                        } else {
                            $("html, body").animate({scrollTop: $(document).height() - $(window).height()}, 1400);
                        }
                    });

            $('#hiddenarrow-up').click(
                    function (e) {
                        $('html, body').animate({scrollTop: '0px'}, 800);
                    }
            );
        });
    }
</script>

<script type="text/javascript">
    // if (is.safari() && is.not.mobile()){
    //   $("#s1,#s2,#s3,#s4,#s5,#s6").css({
    //     height: $.windowHeight()
    //   });
    if (is.safari()) {
        $("#s1,#s2,#s3,#s4,#s5,#s6").css({
            height: $(window).height()
        });
    }
</script>

<script type="text/javascript">
    $('#cycletext0').cycle({
        fx: 'scrollRight',
        delay: -2500
    });

    $('#cycletext1').cycle({
        fx: 'scrollRight',
        delay: -2000
    });

    $('#cycletext2').cycle({
        fx: 'scrollRight',
        delay: -1500
    });

    $('#cycletext3').cycle({
        fx: 'scrollRight',
        delay: -1000
    });
</script>

<script type="text/javascript">
    var element = $("#signature");
    var topOfElement = element.offset().top;
    var bottomOfElement = element.offset().top + element.outerHeight(true);

    $(window).bind('scroll', function () {
        var scrollTopPosition = $(window).scrollTop() + $(window).height();
        var windowScrollTop = $(window).scrollTop()

        if (windowScrollTop > topOfElement && windowScrollTop < bottomOfElement) {
            // Element is partially visible (above viewable area)
            document.getElementById("arrowbounce").className = "hiddenarrow";
            document.getElementById("hiddenarrow-up").className = "arrowbounce-up";

        } else if (windowScrollTop > bottomOfElement && windowScrollTop > topOfElement) {
            // Element is hidden (above viewable area)
            document.getElementById("arrowbounce").className = "arrowbounce";
            document.getElementById("hiddenarrow-up").className = "hiddenarrow-up";

        } else if (scrollTopPosition < topOfElement && scrollTopPosition < bottomOfElement) {
            // Element is hidden (below viewable area)
            document.getElementById("arrowbounce").className = "arrowbounce";
            document.getElementById("hiddenarrow-up").className = "hiddenarrow-up";

        } else if (scrollTopPosition < bottomOfElement && scrollTopPosition > topOfElement) {
            // Element is partially visible (below viewable area)
            document.getElementById("arrowbounce").className = "hiddenarrow";
            document.getElementById("hiddenarrow-up").className = "arrowbounce-up";

        } else {
            // Element is completely visible
            document.getElementById("arrowbounce").className = "hiddenarrow";
            document.getElementById("hiddenarrow-up").className = "arrowbounce-up";
        }
    });

</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="controller.js"></script>
</body>
</html>